<div class="col-10 offset-1">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/michaelhandkins/">Michael Handkins</a>, a full-stack developer determined to master the skills needed to create awesome web applications.
  </p>
  <br />
  <p>
    Perhaps somewhat surprisingly, Michael's primary inspirations for learning to code and how to go about doing so come primarily from the Hip-Hop community. It was Childish Gambino, aka Donald Glover, who first encouraged him to learn to code, claiming that coding would soon take off in the same way that keyboarding did when initially most people considered it to be an unnecessary skill. As far as the approach to learning and mastering the skills, Lil Wayne told young Handkins that "repetition is the father of learning," explaining why Michael is now developing this application for the second time!
  </p>
  <br />
</div>